RewriteEngine On

# Proxy only API calls to Node
RewriteCond %{REQUEST_URI} ^/ci/node/api/
RewriteRule ^ci/node/api/(.*)$ http://127.0.0.1:8000/api/$1 [P,L]

# Let Apache serve static files (React build) directly
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# React client-side routing fallback
RewriteRule ^ci/node/(.*)$ /ci/node/index.html [L]